# Q1. What are the characteristics of the tuples? Is tuple immutable?
### Characteristics of tuple:-

(a) It can store multiple element even that element can be of different type.

In [1]:
t=("1",1,True,5)
print(t,type(t))

('1', 1, True, 5) <class 'tuple'>

(b) It allows duplicate values & works on 0 based index.

In [2]:
t=(1,1,True,5)
print(t,type(t))
for i in t:
    print(i,end=" ")

(1, 1, True, 5) <class 'tuple'>
1 1 True 5

(c) when we create the tuple with single element,we have to take care that element should be with comma.

In [1]:
t=(2)                      # Thsi is not tuple
print(t,type(t))

2 <class 'int'>

In [3]:
t=(2,)                      # Thsi is  tuple
print(t,type(t))

(2,) <class 'tuple'>

(d) Tuples are immutable

In [4]:
t=(1,1,True,5)
t[2]

True

In [5]:
t[2]=False

TypeError: 'tuple' object does not support item assignment

# Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

## Method in tuple.

### (i) count() :-

In [14]:
t=(1,2,2,4,5,5,5)
t

(1, 2, 2, 4, 5, 5, 5)

In [15]:
t.count(5)

3

### (ii) index() :-

In [16]:
t.index(4)

3

In [18]:
t.index(5)

4


### tuples have only two in-built methods as compared to Lists because tuple is immutable and list is mutable.






# Q3.  Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list

## Ans :-  In the python set datatypes do not alloe duplicate items.

## Ex :-

In [23]:
list1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
print("Before removing duplicate element list is  :",list1 )

print("After removing the duplicate element the list is",list(set(list1)))

Before removing duplicate element list is  : [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
After removing the duplicate element the list is [1, 2, 3, 4]

# Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method

## Ans:- Both method are used to combine the two set but difference is that union return new set with unique element after combine but update return the set with unique element  on which method is called after combination.

## Example of union() :-

In [26]:
s1={1,2,3,4,5}
s2={3,2,4,7,8}

s3=s1.union(s2)                            # Taking new variable

print("Final set is :- ",s3)

Final set is :-  {1, 2, 3, 4, 5, 7, 8}

## Example of update() :-

In [28]:
s1={1,2,3,4,5}
s2={3,2,4,7,8}

s1.update(s2)
print("Final set is :- ",s1)

Final set is :-  {1, 2, 3, 4, 5, 7, 8}


# Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

## Ans :-

### (a) dictionary is the datatype in the pyhton which store the item in the form of key and value like (key:value).

In [29]:
dict1 = {
  "1": "mithalesh kumar",
  "2": "Mohit kumar",
  "3": 2004
}
print(dict1)

{'1': 'mithalesh kumar', '2': 'Mohit kumar', '3': 2004}

### (b) dictionary written within curly brices like({keus:items}).

In [30]:
dict1 = {
  "1": "mithalesh kumar",
  "2": "Mohit kumar",
  "3": 2004
}
print(dict1)

{'1': 'mithalesh kumar', '2': 'Mohit kumar', '3': 2004}

### (c) dictionary is mutable

In [32]:
dict1 = {
  "1": "mithalesh kumar",
  "2": "Mohit kumar",
  "3": 2004
}

dict1[1]='mithalesh kumar'              # Adding key and values
print(dict1)

{'1': 'mithalesh kumar', '2': 'Mohit kumar', '3': 2004, 1: 'mithalesh kumar'}

In [34]:
dict1 = {
  "1": "mithalesh kumar",
  "2": "Mohit kumar",
  "3": 2004
}
del dict1['1']                         # deleting the key and value
print(dict1)

{'2': 'Mohit kumar', '3': 2004}

### (d) Duplicates are not allowed.

In [37]:
dict1 = {
  "1": "mithalesh kumar",
  "2": "Mohit kumar",
  "3": 2004,
    "3":2004
}
print(dict1)

{'1': 'mithalesh kumar', '2': 'Mohit kumar', '3': 2004}

### (e) For accessing the value of dictionary we use to refer keyname,inside the bricket with dictionary name.

dict1 = {
  "1": "mithalesh kumar",
  "2": "Mohit kumar",
  "3": 2004,
    "3":2004
}
print(dict1["1"])

# Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

## Ans :-  Yes we can create a nested dictionary.

### Example :-

In [45]:
dict1 = {
 'name':{'myname':'Mithalesh kumar','fname':'Madho tanti','mname':"XXXXXXXXXXXXXXX"},
    'Roll':26,
    'course':'BCA'
}
print("Dictionary is :- ",dict1,"\n")

print("The value of nested dictionary is:- ",dict1["name"])

Dictionary is :-  {'name': {'myname': 'Mithalesh kumar', 'fname': 'Madho tanti', 'mname': 'XXXXXXXXXXXXXXX'}, 'Roll': 26, 'course': 'BCA'}

The value of nested dictionary is:-  {'myname': 'Mithalesh kumar', 'fname': 'Madho tanti', 'mname': 'XXXXXXXXXXXXXXX'}

# Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learning’, 'Deep Learning']
# dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [24]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("impcourse",['Python', 'Machine Learning’])

SyntaxError: unterminated string literal (detected at line 2) (1456032392.py, line 2)

# Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.
# dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

### Ans :- Three view objects are.
###      (a) keys()
###      (b) values()
###      (c) items()

###  (a) :-

In [25]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(list(dict1.keys()))

['Sport', 'Teams']

### (b) :-

In [8]:
dict1 = {'Sport': 'Cricket' , '(Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(list(dict1.values()))

['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']]

### (c) :-

In [9]:
dict1 = {'Sport': 'Cricket' , '(Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(list(dict1.items()))

[('Sport', 'Cricket'), ('(Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])]


### To retrieve some data or perform various operations on these view objects, there are some build-in functions in python that are supported. They are as follows −

### (I). len(obj)

### (II). reversed(obj)

### (III). sorted(obj)

In [14]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(len(dict1.keys()))
print(sorted(dict1.keys()))
print(list(reversed(dict1.keys())))

2
['Sport', 'Teams']
['Teams', 'Sport']

In [17]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(len(dict1.values()))
# print(sorted(dict1.values()))
print(list(reversed(dict1.values())))

2
[['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'], 'Cricket']

In [19]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(len(dict1.items()))
print(sorted(dict1.items()))
print(list(reversed(dict1.items())))

2
[('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])]
[('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']), ('Sport', 'Cricket')]